{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 style="color: blueviolet;" class="text-end mt-5"> قائمة منتجات العناية </h1>
        <small class="text-center">متجر الوان يقدم لكم قائمة من احدث منتجات العناية </small>
    </div>
</div>
<div class="row mt-2">

    <div class="col ">
        {% for eleb in beauty1 %}
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width:700px ;">
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col">
                                
                                <h6 class="badge bg-danger">{{ eleb.price}}</h6>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-success">تفاصيل المنتج  </button>
                                    </div>
                                </div>
                                  
                                
                            </div>
                            <div class="col-sm-7 col-md-7">
                                
                                <ul class="list-unstyled">
                                    <li class="p-1"><h6 class="text-start pt-4">{{ eleb.name}}</h6></li>
                                    <li class="p-1"><h6 class="text-start" style="font-size: 12px;">{{ eleb.description }}</h6></li>
                                </ul> 
                            </div>
                            <div class="col-sm-2 col-md-2 d-flex justify-content-end">
                                <img src="{{ eleb.image }}" width="100" height="100">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endfor %}


</div>
</div>

{% endblock %}